---
---

/**************************************************************************************/
/* Colors */

$text: #ccb;
$alt: #399;
$code: #93a1a1;
$date: #9a9a9a;

$page_bg: #121218;
$bg: #121218;
$side_bg: #121218;
$quote_bg: #222;

/**************************************************************************************/
/* Variables */

$sidebar_width: 13rem;
$main_width: 50rem;

/**************************************************************************************/
/* Main */

body {
	  background-color: $page_bg;
	  color: $text;
	  margin: 1rem;
	  font-family: 'Luxi Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Liberation Sans', sans-serif;
	  line-height: 1.5;
}

.post-title {
		color: $alt;
    margin-top: -1rem;
}

.content {
	  background-color: $bg;
	  max-width: $main_width;
}

a {
	  color: $alt;
	  text-decoration: none;
	  &:hover {
		    background-color: $text;
		    color: $bg;
		    border-radius: 3px;
	  }
	  &:focus {
		    background-color: $text;
		    color: $bg;
		    border-radius: 3px;
	  }
}

blockquote {
	  color: $text;
	  background-color: $quote_bg;
	  border-left: .25rem solid;
	  padding: .5rem 1rem;
	  margin: .8rem 0;
}

.post-date {
	  color: $date;
	  display: block;
	  margin-top: -1.5rem;
}

h1, h2 {
	  margin-top: 0;
}

h3, h4, h5, h6 {
	  margin-top: 0;
}

.container {
    padding: 1rem 1rem 3rem 1rem;
}

/**************************************************************************************/
/* Code */

code, pre {
	  color: $code;
	  font-family: 'Luxi Mono', 'Lucida Mono', 'Liberation Mono', monospace;
}

code {
    padding: .25em;
}

pre {
	  padding: 1rem;
	  line-height: 1.4;
	  white-space: pre-wrap;

	  code {
		    padding: 0;
	  }
}

/**************************************************************************************/
/* Sidebar */

.sidebar {
	  color: $alt;
	  background-color: $side_bg;
	  text-align: left;
	  width: $sidebar_width;
    top: 0;
    left: 0;
    right: 0;

	  a {
		    color: $text;
	  }

	  hr {
		    border: 1px solid;
		    width: 80%;
		    margin-left: 0;
	  }
}

.sidebar-nav-item {
	  display: block;
	  line-height: 1.75rem;
}

.sidebar-date {
	  color: $date;
	  display: block;
	  margin-top: -.5rem;
	  font-size: 70%;
}

/**************************************************************************************/
/* Resizing */
@media (min-width: 45rem) {
    .sidebar {
        position: fixed;
        min-height: 100vh;
        text-align: right;

        hr {
            margin-left: auto;
            margin-right: 0;
        }
    }
	  .content {
		    top: 0;
		    margin-left: $sidebar_width;
	  }
}

@media (min-width: $sidebar_width + $main_width) {
	  .content {
		    margin-left: calc(50% - #{($main_width - $sidebar_width)/2});
		    margin-right: auto;
	  }
	  .sidebar {
		    left: calc(50% - #{($main_width + $sidebar_width)/2});
	  }
}

/**************************************************************************************/
