/* Adopted from poole and hyde */
/* https://github.com/poole/poole */

/* Colors */
body {
    color: #ccc;
    background-color: #000;
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.content {
    background-color: rgba(18, 18, 24, 1);
}
.page-title,
.post-title,
.post-title a {
    color: #ddc; /* title */
}
code {
    background-color: #000;
    color: #93a1a1;
}
pre {
    /* background-color: #000; */
}
a {
    color: #288;
}
.sidebar {
    color: #288;
}
.sidebar hr {
    border: 1px solid #288;
}
.sidebar a {
    color: #ddc;
}
.sidebar-nav-item.active {
    color: #121218;
    background-color: #ccc;
}
blockquote {
    color: #ccc;
    background-color: #222;
    border-left: .25rem solid #ccc;
}
.pagination {
    color: #333;
}
a.pagination-item {
    color: #ddc;
}

/* Body stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Computer Modern Sans", sans-serif;
    font-size: 1.05em;
    line-height: 1.5;
}
html {
    height: 100%;
}
body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    min-height: 100%;
}
a {
    text-decoration: none;
}

a:hover,
a:focus {
    background-color: #ccc;
    color: #121218;
    border-radius: 3px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0rem;
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
}
h1 {
    font-size: 2rem;
}
h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
}
h3 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
}
h4, h5, h6 {
    margin-top: 1rem;
    font-size: 1rem;
}

/* Body text */
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* Code */
code,
pre {
    font-family: "Computer Modern Typewriter", monospace;
}
code {
    padding: .25em .5em;
    border-radius: 3px;
}
pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.4;
    white-space: pre;
    white-space: pre-wrap;
}
pre code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
}

/* Pygments via Jekyll */
.highlight {
    margin-bottom: 1rem;
    border-radius: 4px;
}
.highlight pre {
    margin-bottom: 0;
}
.highlight code {
    margin-bottom: 0;
}

/* Gist via GitHub Pages */
.gist .gist-file {
    font-family: "Computer Modern Typewriter", monospace;
}
.gist .markdown-body {
    padding: 15px;
}
.gist pre {
    padding: 0;
    background-color: transparent;
}
.gist .gist-file .gist-data {
    font-size: .8rem !important;
    line-height: 1.4;
}
.gist code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
}


/* Quotes */
blockquote {
    padding: .5rem 1rem;
    margin: .8rem 0;
}
blockquote p:last-child {
    margin-bottom: 0;
}
@media (min-width: 30em) {
    blockquote {
        padding-right: 5rem;
        padding-left: 1.25rem;
    }
}

img {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem;
    border-radius: 5px;
}

/* Tables */
table {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
}
td,
th {
    padding: .25rem .5rem;
    border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}

/* Meta data line below post title */
.post-date {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    color: #9a9a9a;
}
.sidebar-date {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 0rem;
    color: #9a9a9a;
    font-size: 70%;
}

/* Menu button */
.menu-button {
    height: 3.5em;
    width: 3.5em;
    z-index: 100;
    border: 0em solid #000;
    outline: 0;

    padding-left: .5em;
    padding-right: .5em;

    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
}
.menu-top {
    display: block;
    height: .5em;
    background-color: #000;

    margin-bottom: .25em;

    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
}
.menu-middle {
    display: block;
    height: .5em;
    background-color: #000;

    margin-bottom: .25em;

    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
}
.menu-bottom {
    display: block;
    height: .5em;
    background-color: #000;

    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
}
.menu-button:hover {
    background-color: #166;
}
.menu-button:active {
    background-color: #044;
}

/* Sidebar */
.sidebar-button {
    position: fixed;
    right: .5em;
    top: .5em;
    left: auto;

    background-color: #288;
}

.sidebar {
    min-height: 100vh;

    position: fixed;
    top: 0;
    right: 0;
    left: auto;

    text-align: right;

    width: 13em;

    margin-bottom: 0;

    background-color: rgba(18, 18, 24, .9);
    display: none;
}
/* About section */
.sidebar-about h1 {
    margin-top: 0;
    font-size: 3.25rem;
}
/* Sidebar nav */
.sidebar-nav {
    margin-bottom: 1rem;
}
.sidebar-nav-item {
    display: block;
    line-height: 1.75rem;
    clear: both;
}
.sidebar-nav-img {
    vertical-align:bottom;
    padding-top:.25rem;
}
.sidebar-nav-sub-item {
    display: block;
    line-height: 1.3;
    font-size: 70%;
    padding-right: 1rem;
}

/* Container */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

/* Content */
.content {
    max-width: 50rem;
    min-height: 100vh;

    /* padding-top: 3rem; */
    /* margin-top: 0; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

/* Horizontal line */
hr {
    width: 5em;
    height: 1px;
    margin-right: 0;
    margin-left: auto;
    clear: both;
}

/* Resizing */
@media (min-width: 45em) {
    .sidebar {
        text-align: right;
        right: auto;
        left: 0;

        display: block !important;

        background-color: rgba(18, 18, 24, .7);
    }
    .container {
        padding-top: 1rem;
    }
    .content {
        top: 0;
        margin-left: 13rem;
        padding-top: 2rem;
    }
    .sidebar-button {
        display: none;
    }
}

/* center both */
@media (min-width: 63rem) {
    .content {
        margin-left: calc(50% - 18.5rem);
        margin-right: auto;
    }
    .sidebar {
        left: calc(50% - 31.5rem);
    }
}

/* Pagination */
.pagination {
    overflow: hidden; /* clearfix */
    margin-left: -1rem;
    margin-right: -1rem;
    text-align: center;
    margin: 3rem 0;
}
.pagination-item {
    display: block;
    padding: 1rem;
    border: 1px solid #eee;
}
span.pagination-item {
    text-decoration: line-through;
}
a.pagination-item {
    text-decoration: none;
}
.pagination-item:first-child {
    margin-bottom: -1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.pagination-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

@media (min-width: 30em) {
    .pagination-item {
        float: left;
        width: 10em;
        margin-right: auto;
    }
    .pagination-item:first-child {
        margin-left: calc(50% - 10em);
        margin-bottom: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 4px;

    }
    .pagination-item:last-child {
        margin-left: 50%;
        margin-left: -1px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 4px;
    }
}
