  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}css/paho.css">
  <link rel="stylesheet" href="{{ site.baseurl }}css/syntax.css">

  <!-- Computer Modern -->
  <link rel="stylesheet" href="/fonts/Sans/cmun-sans.css"></link>
  <link rel="stylesheet" href="/fonts/Typewriter/cmun-typewriter.css"></link>

  <!-- Icons -->
  <!-- <link rel="shortcut icon" href="{{ site.baseurl }}favicon.ico"> -->

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- MathJax -->
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
