<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">


  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}css/paho.css"></link>
  <link rel="stylesheet" href="{{ site.baseurl }}css/syntax.css"></link>

  <!-- Computer Modern -->
  <link rel="stylesheet" href="{{ site.baseurl }}fonts/Sans/cmun-sans.css"></link>
  <link rel="stylesheet" href="{{ site.baseurl }}fonts/Typewriter/cmun-typewriter.css"></link>

  <!-- JQuery -->
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/sidebar.js"></script>

  <!-- MathJax -->
  <script type="text/javascript"
          src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

  <title>
    {% if page.layout == "project" %}
    {{ page.title }} &middot; {{ page.project | capitalize }}
    {% else %}
    {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>


</head>

<button class="menu-button sidebar-button">
  <span class="menu-top"></span>
  <span class="menu-middle"></span>
  <span class="menu-bottom"></span>
</button>

