<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h3>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h3>
    </div>
    <nav class="sidebar-nav">
      Posts
      {% for page in site.posts limit:5 %}
      <a class="sidebar-nav-item" href="{{ page.url }}"> {{ page.title }} </a>
      <span class="sidebar-date">{{ page.date | date_to_string }}</span>
      {% endfor %}
      <a class="sidebar-nav-item" href="/archive"> Archive </a>
      <a class="sidebar-nav-item" href="/feed.xml"> RSS/Atom Feed </a>
    </nav>

    <nav class="sidebar-nav">
      Projects
      <a class="sidebar-nav-item" href="http://dimensioned.paholg.com"> Dimensioned </a>
    </nav>

    <nav class="sidebar-nav">
      Links
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub</a>
    </nav>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/about"> About </a>
    </nav>


  </div>
</div>
