{% for collection in site.collections %}
{% if page.collection == collection[0] %}

<div class="sidebar">
  <div class="container">
    <nav class="sidebar-nav">
      <h3>
        <a class="sidebar-nav-item" href="{{ collection[1].url }}">
          {{ collection[1].title }}
        </a>
      </h3>
    </nav>



    {{ collection[1].description }}

    <nav class="sidebar-nav">
      {% for pg in collection[1].docs %}
      {% unless pg.title == "Home" %}
      <a class="sidebar-nav-item" href="{{ pg.url }}"> {{ pg.title }} </a>
      {% endunless %}
      {% endfor %}
    </nav>


    <nav class="sidebar-nav">
      Links
      {% for link in collection[1].links %}
      <a class="sidebar-nav-item" href="{{ link[1] }}"> {{ link[0] }} </a>
      {% endfor %}

      <hr/>

      <a class="sidebar-nav-item" href="{{ site.baseurl }}"> {{ site.title }} </a>
    </nav>

    <nav class="sidebar-nav">
    </nav>

  </div>
</div>

{% endif %}
{% endfor %}
