{% assign collectionlist = site.collections | where: "label", page.collection %}
{% assign collection = collectionlist[0] %}

<div class="sidebar">
  <div class="container">
    <nav class="sidebar-nav">
      <h3>
        <a class="sidebar-nav-item" href="{{ collection.url }}">
          {{ collection.title }}
        </a>
      </h3>
    </nav>

    <hr/>

    {% if collection.crates %}
    <a class="sidebar-nav-item" href= "{{ collection.crates.url }}">&nbsp;<img class="sidebar-nav-img" src="{{ collection.crates.img }}" align="right" alt="crates.io"></a>
    <hr/>
    {% endif %}

    <nav class="sidebar-nav">
      {% for pg in collection.docs %}
      {% unless pg.title == "Home" or pg.url contains "examples/" %}
      <a class="sidebar-nav-item" href="{{ pg.url }}"> {{ pg.title }} </a>
      {% if page == pg %}
      {% for item in pg.nav %}
      <a class="sidebar-nav-sub-item" href="#{{ item[1] }}"> {{ item[0] }}&nbsp;&nbsp;•</a>
      {% endfor %}
      {% endif %}
      {% endunless %}
      {% endfor %}
    </nav>


    <nav class="sidebar-nav">
      Links<br>

      {% for link in collection.links %}
      <a class="sidebar-nav-item" href="{{ link[1] }}"> {{ link[0] }} </a>
      {% endfor %}


      <hr/>

      <a class="sidebar-nav-item" href="{{ site.baseurl }}"> {{ site.title }} </a>
    </nav>

    <nav class="sidebar-nav">
    </nav>

  </div>
</div>
