<div class="sidebar">
  <div class="container">

    <nav class="sidebar-nav">
      <h3>
        <a class="sidebar-nav-item" href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h3>
    </nav>

    <hr/>

    <nav class="sidebar-nav">
      <!-- Posts -->
      {% for post in site.posts limit:5 %}
      <a class="sidebar-nav-item" href="{{ post.url }}"> {{ post.title }}
      <span class="sidebar-date">{{ post.date | date: "%-d %B %Y" }}</span></a>
      {% endfor %}
      <a class="sidebar-nav-item" href="/archive/"> Archive </a>
      <a class="sidebar-nav-item" href="/feed.xml"> RSS </a>
    </nav>

    <nav class="sidebar-nav">
      Projects
      {% for collection in site.collections %}
      <a class="sidebar-nav-item" href="{{ collection[1].url }}">
        {{ collection[1].title }} </a>
      {% endfor %}
    </nav>

    <nav class="sidebar-nav">
      Links
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub</a>
    </nav>
    <hr/>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/about"> About </a>
    </nav>

  </div>
</div>


