{% for collection in site.collections %}
{% if page.collection == collection[0] %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  <link rel="shortcut icon" href="imgs/favicon.png">
  {% include head.html %}


  <body background="{{ collection[1].background }}">

    {% include sidebar-project.html %}
    <div class="content container">
      {% if page.title == "Home" %}
        {% for collection in site.collections %}
          {% if page.collection == collection[0] %}
            <h1 class="page-title">{{ collection[1].title }}</h1>
            {% endif %}
        {% endfor %}
      {% else %}
      <h1 class="page-title">{{ page.title }}</h1>
      {% endif %}
      <span class="post-date">{{ page.date | date: "Page updated %-d %B %Y at version " }}{{ page.version }}</span>
      {{ content }}
    </div>

  </body>

  {% include foot.html %}

</html>

{% endif %}
{% endfor %}
